<div class="ui-g">
  <div class="ui-g-12 ui-lg-12">

    <div class="container" style="width: 80%;">
      <div style="text-align:center">
        <h1>ข้อมูลส่วนตัว</h1>
      </div>
      <div class="line"></div>
      <br>
      <p-card>
        <div class="ui-g">
          <div class="ui-g-12 ui-lg-12 ">
            <div class="ui-g-12 ui-lg-6">
              <div class="ui-g-12 ui-lg-12" style=" text-align: center;">
                <img src="Card" src="assets/images/no-images.png" class="img-info">
              </div>
            </div>
            <div class="ui-g-12 ui-lg-6">
              <div class="ui-g-5 ui-lg-3 text-info" style="text-align:right;">
                <span>Username : </span>
              </div>
              <div class="ui-g-5 ui-lg-8 " style="text-align:left;">
                <span>{{(userData) ? userData['employee_username']: ''}} </span>
              </div>
              <!-- {{userData.employee_username | json }} -->
              <!-- <div class="ui-g-5 ui-lg-3 text-info" style="text-align:right;">
                <span>Password : </span>
              </div>
              <div class="ui-g-5 ui-lg-8 " style="text-align:left;">
                <span>{{(userData) ? userData.employee_password: ''}} </span>
              </div> -->
              <div class="ui-g-5 ui-lg-3 text-info" style="text-align:right;">
                <span>ชื่อ : </span>
              </div>
              <div class="ui-g-5 ui-lg-8 " style="text-align:left;">
                <span>{{(userData) ? userData['employee_fname']: ''}} </span>
              </div>
              <div class="ui-g-5 ui-lg-3 text-info" style="text-align: right;">
                <span>นามสกุล :</span>
              </div>
              <div class="ui-g-5 ui-lg-8 " style="text-align: left;">
                <span>{{(userData) ? userData['employee_lname']: ''}} </span>
              </div>
              <div class="ui-g-5 ui-lg-3 text-info " style="text-align:right;">
                <span>เบอร์โทรศัพท์ : </span>
              </div>
              <div class="ui-g-8 ui-lg-8" style="text-align:left;">
                <span>{{(userData) ? userData['employee_tel']: ''}} </span>
              </div>
              <div class="ui-g-5 ui-lg-3 text-info " style="text-align:right;">
                <span>ตำแหน่ง : </span>
              </div>
              <div class="ui-g-5 ui-lg-8" style="text-align:left;">
                <span>{{(userData) ? userData['position_role']: ''}} </span>
              </div>
              <div class="ui-g-5 ui-lg-12" style="text-align:center;">
                <button pButton type="button" label="แก้ไข" class="ui-button-raised ui-button-raised"
                (click)="showEdit(userData['employee_id'])"></button>
              </div>
            </div>
          </div>
        </div>
      </p-card>
    </div>
  </div>
</div>
<form [formGroup]="form" novalidate>
  <p-dialog header="รายละเอียดรถ" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"
    [style]="{width: '500px'}" (onHide)="form.reset()">
    <div class="ui-g ui-fluid" *ngIf="employee">
      <div class="ui-g-12">
        <div class="form-group">

          <div class="ui-g-4">
            <label for="fname">ชื่อ</label>
          </div>
          <div class="ui-g-8">
            <input pInputText id="fname" [(ngModel)]="fname" formControlName="fname" />
            <div
              *ngIf="form.controls['fname'].invalid && (form.controls['fname'].dirty || form.controls['fname'].touched)"
              class="alert alert-danger">
              <div class="text-danger text-invalid" *ngIf="form.controls['fname'].errors.required">
                กรุณากรอกชื่อ</div>
            </div>
          </div>
          <div class="ui-g-4">
            <label for="lname">นามสกุล</label>
          </div>
          <div class="ui-g-8">
            <input pInputText id="lname" [(ngModel)]="lname" formControlName="lname" />
            <div
              *ngIf="form.controls['lname'].invalid && (form.controls['lname'].dirty || form.controls['lname'].touched)"
              class="alert alert-danger">
              <div class="text-danger text-invalid" *ngIf="form.controls['lname'].errors.required">
                กรุณากรอกนามสกุล</div>
            </div>
          </div>
          <div class="ui-g-4">
            <label for="tel">เบอร์โทร</label>
          </div>
          <div class="ui-g-8">
            <input pInputText id="tel" [(ngModel)]="tel" formControlName="tel" />
            <div *ngIf="form.controls['tel'].invalid && (form.controls['tel'].dirty || form.controls['tel'].touched)"
              class="alert alert-danger">
              <div class="text-danger text-invalid" *ngIf="form.controls['tel'].errors.required">
                กรุณากรอกเบอร์โทร</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button type="button" id="btn-Clear" pButton (click)="clear()" label="ยกเลิก"></button>
        <button id="btn-Update" type="button" pButton label="แก้ไข" (click)="update()"
          [disabled]="form.invalid"></button>
      </div>
    </p-footer>
  </p-dialog>
</form>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
