<div class="ui-g">
  <div class="ui-g-12 ui-lg-12">

    <div class="container" style="width: 80%;">
      <div style="text-align:center">
        <legend>ข้อมูลส่วนตัว</legend>
      </div>
      <p-card>
        <div class="ui-g">
          <div class="ui-g-12 ui-lg-12 ">
            <div class="ui-g-12 ui-lg-6">
              <div class="ui-g-12 ui-lg-12" style=" text-align: center;">
                <img src="Card" src="assets/images/no-images.png" class="img-info">
              </div>
            </div>
            <div class="ui-g-12 ui-lg-6">
              <div class="ui-g-5 ui-lg-3 text-info" style="text-align:right;">
                <span>ชื่อ : </span>
              </div>
              <div class="ui-g-5 ui-lg-8 " style="text-align:left;">
                <span> สมหญิง </span>
              </div>
              <div class="ui-g-5 ui-lg-3 text-info" style="text-align: right;">
                <span>นามสกุล :</span>
              </div>
              <div class="ui-g-5 ui-lg-8 " style="text-align: left;">
                <span> สวยงาม</span>
              </div>

              <div class="ui-g-5 ui-lg-3 text-info " style="text-align: right;">
                <span>ที่อยู่ : </span>
              </div>
              <div class="ui-g-5 ui-lg-8 " style="text-align: left;">
                <span> 202/12 ม.6 ต.ในคลองบางปลากด อ.พระสมุทรเจดีย์ จ.สมุทรปราการ 10290 </span>
              </div>
              <div class="ui-g-5 ui-lg-3 text-info " style="text-align:right;">
                <span>เบอร์โทรศัพท์ : </span>
              </div>
              <div class="ui-g-8 ui-lg-8" style="text-align:left;">
                <span> 092-594-5632 </span>
              </div>
              <div class="ui-g-5 ui-lg-3 text-info " style="text-align:right;">
                <span>ตำแหน่ง : </span>
              </div>
              <div class="ui-g-5 ui-lg-8" style="text-align:left;">
                <span>cashier</span>
              </div>
              <div class="ui-g-5 ui-lg-12" style="text-align:center;">
                <button pButton type="button" label="แก้ไข" class="ui-button-raised ui-button-info"></button>
              </div>
            </div>
          </div>
        </div>
      </p-card>
    </div>
  </div>
</div>
