.margin-top-bottom {
  margin: 20px;
}

.font-show {
  font-size: 1.3em;
}
.text-info {
  font-weight: bold;
  text-align: right;
}
.img-info {
  width: 200px;
  text-align: center;
  height: 200px;
}
span {
  font-size: 15px;
  width: 100px;
}
