<div class="ui-g">
  <div class="ui-g-12 ui-lg-12">

    <div class="container" style="width: 80%;">
      <div style="text-align:center">
        <h1>ข้อมูลส่วนตัว</h1>
      </div>
      <div class="line"></div>
      <br>
      <p-card>
        <div class="ui-g">
          <div class="ui-g-12 ui-lg-12 ">
            <div class="ui-g-12 ui-lg-6">
              <div class="ui-g-12 ui-lg-12" style=" text-align: center;">
                <img src="Card" src="assets/images/no-images.png" class="img-info">
              </div>
            </div>
            <div class="ui-g-12 ui-lg-6">
              <div class="ui-g-5 ui-lg-3 text-info" style="text-align:right;">
                <span>Username : </span>
              </div>
              <div class="ui-g-5 ui-lg-8 " style="text-align:left;">
                <span>{{(userData) ? userData.employee_username: ''}} </span>
              </div>
              <div class="ui-g-5 ui-lg-3 text-info" style="text-align:right;">
                <span>Password : </span>
              </div>
              <div class="ui-g-5 ui-lg-8 " style="text-align:left;">
                <span>{{(userData) ? userData.employee_password: ''}} </span>
              </div>
              <div class="ui-g-5 ui-lg-3 text-info" style="text-align:right;">
                <span>ชื่อ : </span>
              </div>
              <div class="ui-g-5 ui-lg-8 " style="text-align:left;">
                <span>{{(userData) ? userData.employee_fname: ''}} </span>
              </div>
              <div class="ui-g-5 ui-lg-3 text-info" style="text-align: right;">
                <span>นามสกุล :</span>
              </div>
              <div class="ui-g-5 ui-lg-8 " style="text-align: left;">
                <span>{{(userData) ? userData.employee_lname: ''}} </span>
              </div>
              <div class="ui-g-5 ui-lg-3 text-info " style="text-align:right;">
                <span>เบอร์โทรศัพท์ : </span>
              </div>
              <div class="ui-g-8 ui-lg-8" style="text-align:left;">
                <span>{{(userData) ? userData.employee_tel: ''}} </span>
              </div>
              <div class="ui-g-5 ui-lg-3 text-info " style="text-align:right;">
                <span>ตำแหน่ง : </span>
              </div>
              <div class="ui-g-5 ui-lg-8" style="text-align:left;">
                <span>{{(userData) ? userData.position_id: ''}} </span>
              </div>
              <div class="ui-g-5 ui-lg-12" style="text-align:center;">
                <button pButton type="button" label="แก้ไข" class="ui-button-raised ui-button-info"></button>
              </div>
            </div>
          </div>
        </div>
      </p-card>
    </div>
  </div>
</div>
