<div class="ui-g-12 ui-lg-2 ui-md-12 " style="padding: 0px; border: 0px" *ngIf="showHomeMenu('admin')">
  <p-menu [model]="items1" [style]="{'border-left-width': '0px'}"></p-menu>
</div>
<div class="ui-g-12 ui-lg-2 ui-md-12 " style="padding: 0px; border: 0px" *ngIf="showHomeMenu('manager')">
  <p-menu [model]="items2" [style]="{'border-left-width': '0px'}"></p-menu>
</div>
<div class="ui-g-12 ui-lg-2 ui-md-12 " style="padding: 0px; border: 0px" *ngIf="showHomeMenu('cashier')">
  <p-menu [model]="items3" [style]="{'border-left-width': '0px'}"></p-menu>
</div>
