.center {
  margin: auto;
}
.text-danger.text-invalid {
  color: red !important;
}
:host>>>.carcare-button .ui-button[type = submit] {
  background-color: #007ad9 !important;
  color: #fff;
  margin-left: 5px;
  margin-right: 5px;
  border: #007ad9 !important;
  border-radius: 5px;
  font-size: 1em;
}
:host>>>.carcare-button .ui-button:hover[type = submit]  {
  background-color: #2a8dda!important;
  border: #2a8dda;
  border-radius: 5px;
}
:host>>>.carcare-button .ui-button[type = button] {
  background-color: #e91224 !important;
  color: #fff;
  margin-left: 5px;
  margin-right: 5px;
  border: #e91224 !important;
  border-radius: 5px;
  font-size: 1em;
}
:host>>>.carcare-button .ui-button:hover[type = button] {
  background-color: #ff5656!important;
  border: #ff5656;
  border-radius: 5px;
}
