<form [formGroup]="formEdit" (submit)="onSubmit($event)" novalidate>
  <div class="ui-g">
    <div class="ui-g-12 ui-lg-12">
      <div style="text-align:center">
        <h1>เพิ่มพนักงาน</h1>
      </div>
      <div class="line"></div>
      <br>
      <div class="container">
        <div class="ui-g ui-fluid">
          <div class="ui-g-10">
            <div class="form-group">
              <div class="ui-g-3" style="text-align: right;">
                <label for="fname">ชื่อ :</label>
              </div>
              <div class="ui-g-8">
                <input pInputText id="fname" type="text" formControlName="fname" placeholder="ชื่อ" />
                <div
                  *ngIf="formEdit.controls['fname'].invalid && (formEdit.controls['fname'].dirty || formEdit.controls['fname'].touched)"
                  class="alert alert-danger">
                  <div class="text-danger text-invalid" *ngIf="formEdit.controls['fname'].errors.required">
                    กรุณากรอก ชื่อ</div>
                </div>
              </div>
              <div class="ui-g-3" style="text-align: right;">
                <label for="lname">นามสกุล :</label>
              </div>
              <div class="ui-g-8">
                <input pInputText id="lname" type="text" formControlName="lname" placeholder="นามสกุล" />
                <div
                  *ngIf="formEdit.controls['lname'].invalid && (formEdit.controls['lname'].dirty || formEdit.controls['lname'].touched)"
                  class="alert alert-danger">
                  <div class="text-danger text-invalid" *ngIf="formEdit.controls['lname'].errors.required">
                    กรุณากรอก นามสกุล</div>
                </div>
              </div>
              <div class="ui-g-3" style="text-align: right;">
                <label for="tel">เบอร์โทร :</label>
              </div>
              <div class="ui-g-8">
                <p-inputMask mask="999-999-9999" placeholder="099-999-9999" formControlName="tel"></p-inputMask>
                <div
                  *ngIf="formEdit.controls['tel'].invalid && (formEdit.controls['tel'].dirty || formEdit.controls['tel'].touched)"
                  class="alert alert-danger">
                  <div class="text-danger text-invalid" *ngIf="formEdit.controls['tel'].errors.required">
                    กรุณากรอก เบอร์โทร</div>
                </div>
              </div>
              <div class="ui-g-3" style="text-align: right;">
                <label for="role">ตำแหน่ง :</label>
              </div>
              <div class="ui-g-8">
                <p-dropdown [options]="role" optionLabel="position_role" value="position_id" formControlName="role"
                  placeholder="กรุณาเลือกตำแหน่ง" [style]="{ width: '60%' }">
                </p-dropdown>
                <div
                  *ngIf="formEdit.controls['role'].invalid && (formEdit.controls['role'].dirty || formEdit.controls['role'].touched)"
                  class="alert alert-danger">
                  <div class="text-danger text-invalid" *ngIf="formEdit.controls['role'].errors.required">
                    กรุณากรอก ตำแหน่ง</div>
                </div>
              </div>
              <!-- <div class="ui-g-3" style="text-align: right;">
                <label for="work">การทำงาน :</label>
              </div>
              <div class="ui-g-8">
                <p-dropdown [options]="role" optionLabel="position_work" value="position_role" formControlName="work"
                  [style]="{ width: '60%' }">
                </p-dropdown>
              </div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="center carcare-button" style="text-align: center;">
        <p-button type="submit" label="ยืนยัน"></p-button>
        <p-button type="button" label="ยกเลิก" (onClick)="showCancelConfirm()"></p-button>
      </div>
    </div>
  </div>
</form>
<p-toast position="center" key="systemMessage" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div style="text-align: center">
      <h3>{{ message.summary }}</h3>
      <pre class="text-left">{{ message.detail }}</pre>
    </div>
  </ng-template>
</p-toast>

<p-confirmDialog> </p-confirmDialog>
<p-toast position="center" key="alertMessage" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div style="text-align: center">
      <h3>{{ message.summary }}</h3>
      <p>{{ message.detail }}</p>
    </div>
    <div class="ui-g ui-fluid">
      <div class="ui-g-12">
        <button type="button" pButton [label]="messageback" class="ui-button-success" [routerLink]="urlback"></button>
      </div>
    </div>
  </ng-template>
</p-toast>
