.top-menu {
  line-height: 70px;
  margin: 0 0 0 auto;
  cursor: pointer;
  padding: 0 10px;
  text-align: right;
}
.top-menu span {
  color: #116fbf;
  font-size: x-large;

}
.top-menu:hover {
  background-color: #F6F7F5;
}
.topbar-menu {
  display: inline-block;
  list-style-type: none;
  float: right;
  margin: 0 60px 0 0;
  padding: 0;
  height: 100%;
}
.layout-topbar {
  background-color: #20272a;
  box-sizing: border-box;
  display: block;
  padding: 0;
  height: 70px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9997;
  /* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3); */
}
.layout-wrapper.layout-news-active .layout-topbar {
  top: 70px;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.topbar-menu > li {
  display: inline-block;
  height: 100%;
}
li {
  text-align: -webkit-match-parent;
}
a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
body {
  margin: 0;
  min-height: 100%;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  color: #333c40;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}
.topbar-menu > li > a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  min-width: 120px;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  height: 100%;
  line-height: 70px;
  font-size: 16px;
}
body a {
  color: #007ad9;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: #1b82d7;
}
.top-bar .title a {
  vertical-align: middle;
  line-height: 80px;
  font-size: 20px;
  margin-left: 10px;
  font-weight: bold;
}

@media screen and (max-width: 520px) {
  .top-bar {
    height: 80px;
  }

  .top-bar .banner img {
    height: 80px;
  }
}
