<div class="ui-g">
  <div class="ui-g-12 ui-lg-12">
    <div style="text-align:center">
      <h1>จัดการบริการล้างรถ</h1>
    </div>
    <div class="container" style="width: 65%;">
      <div class="line"></div>
      <br>
      <div class="row">
        <div class="ui-g">
          <div class="ui-g-12 ui-lg-12">
            <p-table [paginator]="true" [value]="clean" [rows]="10" [responsive]="true">
              <ng-template pTemplate="caption">
                <div style="text-align:left">
                  <!-- <button pButton type="button" id="btn-Increase" label="เพิ่ม" class="ui-button-temple"
                      style="width: 20%"></button> -->
                  <button pButton type="button" label="เพิ่ม" class="ui-button-rounded ui-button-success"
                    (click)="showDialogToAdd()" style="font-size: 15px; width: 10%;"></button>
                </div>

              </ng-template>
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th pSortableColumn="nameAbbr">
                    บริการล้างรถ
                    <p-sortIcon field="nameAbbr" ariaLabel="Activate to sort"
                      ariaLabelDesc="Activate to sort in descending order"
                      ariaLabelAsc="Activate to sort in ascending order">
                    </p-sortIcon>
                  </th>
                  <th pSortableColumn="amount">
                    ราคา
                    <p-sortIcon field="name" ariaLabel="Activate to sort"
                      ariaLabelDesc="Activate to sort in descending order"
                      ariaLabelAsc="Activate to sort in ascending order">
                    </p-sortIcon>
                  </th>
                  <th pSortableColumn="amount">
                    ระยะเวลาล้าง
                    <p-sortIcon field="name" ariaLabel="Activate to sort"
                      ariaLabelDesc="Activate to sort in descending order"
                      ariaLabelAsc="Activate to sort in ascending order">
                    </p-sortIcon>
                  </th>
                  <th pSortableColumn="amount">
                    ขนาดรถ
                    <p-sortIcon field="name" ariaLabel="Activate to sort"
                      ariaLabelDesc="Activate to sort in descending order"
                      ariaLabelAsc="Activate to sort in ascending order">
                    </p-sortIcon>
                  </th>
                  <th>

                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData">
                  <td [pSelectableRow]="rowData" style="text-align: center">
                    {{rowData.service_name}}
                  </td>
                  <td [pSelectableRow]="rowData" style="text-align: center">
                    {{rowData.service_price}} บาท
                  </td>
                  <td [pSelectableRow]="rowData" style="text-align: center">
                    {{rowData.service_duration}}
                  </td>
                  <td [pSelectableRow]="rowData" style="text-align: center">
                    {{rowData.size}}
                  </td>
                  <td *ngFor="let col of columns;">
                    <div *ngIf="rowData[col.field] != rowData['status']">
                      <span class="ui-column-title">{{col.header}}</span>
                      <div *ngIf="rowData[col.field] == rowData['service_name'] ">
                        {{rowData.service_name}}
                      </div>
                      <div *ngIf="rowData[col.field] == rowData['service_price'] ">
                        {{rowData.service_price}}
                      </div>
                      <div *ngIf="rowData[col.field] == rowData['service_duration']">
                        {{rowData.service_duration | date:'mediumTime'}}
                      </div>
                      <div *ngIf="rowData[col.field] == rowData['size']">
                        {{rowData.size}}
                      </div>
                    </div>

                  </td>
                  <td>
                    <div style="text-align:center">
                      <button pButton type="button" label="แก้ไข" class="ui-button-warning"
                        (click)="showEdit(rowData['clean_service_id'])" style="width: 40%;"></button>
                      <button pButton type="button" label="ลบ" class="ui-button-danger"
                        (click)="delete(rowData['clean_service_id'])" style="width: 40%;margin-left: 5mm"></button>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<form [formGroup]="form" novalidate>
  <p-dialog header="รายละเอียดรถ" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"
    [style]="{width: '500px'}" (onHide)="form.reset()">
    <div class="ui-g ui-fluid" *ngIf="service">
      <div class="ui-g-12">
        <div class="form-group">

          <div class="ui-g-4">
            <label for="service_name">บริการล้างรถ</label>
          </div>
          <div class="ui-g-8">
            <input pInputText id="service_name" [(ngModel)]="name" formControlName="service_name" />
            <div
              *ngIf="form.controls['service_name'].invalid && (form.controls['service_name'].dirty || form.controls['service_name'].touched)"
              class="alert alert-danger">
              <div class="text-danger text-invalid" *ngIf="form.controls['service_name'].errors.required">
                กรุณากรอกบริการล้างรถ</div>
            </div>
          </div>
          <div class="ui-g-4">
            <label for="service_price">ราคา</label>
          </div>
          <div class="ui-g-8">
            <input pInputText id="service_price" [(ngModel)]="price" formControlName="service_price" />
            <div
              *ngIf="form.controls['service_price'].invalid && (form.controls['service_price'].dirty || form.controls['service_price'].touched)"
              class="alert alert-danger">
              <div class="text-danger text-invalid" *ngIf="form.controls['service_price'].errors.required">
                กรุณากรอกราคา</div>
            </div>
          </div>
          <div class="ui-g-4">
            <label for="service_duration">ระยะเวลาล้าง</label>
          </div>
          <div class="ui-g-8">
            <p-calendar id="service_duration" [(ngModel)]="duration" timeOnly="true" showSeconds="true" hourFormat="24"
              formControlName="service_duration">
            </p-calendar>
            <div
              *ngIf="form.controls['service_duration'].invalid && (form.controls['service_duration'].dirty || form.controls['service_duration'].touched)"
              class="alert alert-danger">
              <div class="text-danger text-invalid" *ngIf="form.controls['service_duration'].errors.required">
                กรุณากรอกระยะเวลาล้าง</div>
            </div>
          </div>
          <div class="ui-g-4">
            <label for="size">ขนาดรถ</label>
          </div>
          <div class="ui-g-8">
            <p-autoComplete [(ngModel)]="size" [suggestions]="filteredTypeCar" value="type_car_id" appendTo="body"
              (completeMethod)="filterTypecarMultiple($event)" placeholder="เลือกขนาดรถ" field="size" [dropdown]="true"
              formControlName="size" readonly="true">
              <div
                *ngIf="form.controls['size'].invalid && (form.controls['size'].dirty || form.controls['size'].touched)"
                class="alert alert-danger">
                <div class="text-danger text-invalid" *ngIf="form.controls['size'].errors.required">
                  กรุณากรอกขนาดรถ</div>
              </div>
            </p-autoComplete>
          </div>
        </div>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button type="button" id="btn-Clear" pButton (click)="clear()" label="ยกเลิก"></button>
        <button *ngIf="newService" id="btn-Save" type="submit" pButton (click)="save()" label="บันทึก"
          [disabled]="form.pristine || form.invalid"></button>
        <button *ngIf="!newService" id="btn-Update" type="button" pButton label="แก้ไข" (click)="update()"
          [disabled]="form.invalid"></button>
      </div>
    </p-footer>
  </p-dialog>
</form>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
