<div class="ui-g">
  <div class="ui-g-12 ui-lg-12">
    <div style="text-align:center">
      <h1>เบิกคืนอุปกรณ์ล้างรถ</h1>
    </div>
    <div class="container">
      <div class="line"></div>
      <br>
      <div class="row">
        <div class="ui-g">
          <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">
            <p-messages></p-messages>
          </div>
          <div class="ui-g-12 ui-lg-12">
            <p-table [paginator]="true" [rows]="10" [responsive]="true">
              <ng-template pTemplate="caption">
                <div style="text-align:left">
                  <!-- <button pButton type="button" id="btn-Increase" label="เพิ่ม" class="ui-button-temple"
                    style="width: 20%"></button> -->
                  <button pButton type="button" label="เพิ่ม" class="ui-button-rounded ui-button-success"
                    style="font-size: 15px; width: 10%;"></button>
                </div>

              </ng-template>
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th pSortableColumn="brand">
                    ชื่ออุปกรณ์
                    <p-sortIcon field="brand" ariaLabel="Activate to sort"
                      ariaLabelDesc="Activate to sort in descending order"
                      ariaLabelAsc="Activate to sort in ascending order">
                    </p-sortIcon>
                  </th>
                  <th pSortableColumn="model">
                    จำนวน
                    <p-sortIcon field="model" ariaLabel="Activate to sort"
                      ariaLabelDesc="Activate to sort in descending order"
                      ariaLabelAsc="Activate to sort in ascending order">
                    </p-sortIcon>
                  </th>
                  <th pSortableColumn="size">
                    เวลาที่ยืม
                    <p-sortIcon field="size" ariaLabel="Activate to sort"
                      ariaLabelDesc="Activate to sort in descending order"
                      ariaLabelAsc="Activate to sort in ascending order">
                    </p-sortIcon>
                  </th>
                  <th pSortableColumn="size">
                    เวลาที่คืน
                    <p-sortIcon field="size" ariaLabel="Activate to sort"
                      ariaLabelDesc="Activate to sort in descending order"
                      ariaLabelAsc="Activate to sort in ascending order">
                    </p-sortIcon>
                  </th>
                  <th>

                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData">
                  <td [pSelectableRow]="rowData" style="text-align: center">
                    {{rowData["brand"]}}
                  </td>
                  <td [pSelectableRow]="rowData" style="text-align: center">
                    {{rowData["model"]}}
                  </td>
                  <td [pSelectableRow]="rowData" style="text-align: center">
                    {{rowData["size"]}}
                  </td>

                  <td *ngFor="let col of columns;">
                    <div *ngIf="rowData[col.field] != rowData['status']">
                      <span class="ui-column-title">{{col.header}}</span>
                      <div *ngIf="rowData[col.field] == rowData['brand'] ">
                        {{rowData["brand"]}}
                      </div>
                      <div *ngIf="rowData[col.field] == rowData['model'] ">
                        {{rowData["model"]}}
                      </div>
                      <div *ngIf="rowData[col.field] == rowData['size']">
                        {{rowData["size"]}}
                      </div>
                    </div>
                  </td>
                  <td>
                    <div style="text-align:center">
                      <button pButton type="button" label="แก้ไข" class="ui-button-warning"
                        style="width: 40%;"></button>
                      <button pButton type="button" label="ลบ" class="ui-button-danger"
                        style="width: 40%;margin-left: 5mm"></button>
                    </div>

                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog header="รายละเอียดรถ" [responsive]="true" showEffect="fade" [modal]="true" [style]="{width: '500px'}">
  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <div class="form-group">

        <div class="ui-g-4">
          <label for="brand">ยี่ห้อรถ</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="brand" />
          <div class="alert alert-danger">
            <div class="text-danger text-invalid">
              กรุณากรอกยี่ห้อรถ</div>
          </div>
        </div>
        <div class="ui-g-4">
          <label for="model">รุ่นรถ</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="model" />
          <div class="alert alert-danger">
            <div class="text-danger text-invalid">
              กรุณากรอกรุ่นรถ</div>
          </div>
        </div>
        <div class="ui-g-4">
          <label for="size">ขนาดรถ</label>
        </div>
        <div class="ui-g-8">

          <!-- <p-dropdown [options]="type" formControlName="size" optionLabel="size" value="car_id"
                placeholder="กรุณาเลือกขนาดรถ" id="size" appendTo="body" [(ngModel)]="size"></p-dropdown> -->
          <div class="alert alert-danger">
            <div class="text-danger text-invalid">
              กรุณากรอกขนาดรถ</div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" id="btn-Clear" pButton label="ยกเลิก"></button>
      <button id="btn-Save" type="submit" pButton label="บันทึก"></button>
      <button id="btn-Update" type="button" pButton label="แก้ไข"></button>
    </div>
  </p-footer>
</p-dialog>

<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
