:host >>> .ui-button-rounded .ui-button-success .ui-button .ui-widget .ui-state-default .ui-corner-all .ui-button-text-only {
  /* background-color: #ffba01 !important;
  color: #000000; */
  margin-left: 5px;
  margin-right: 5px;

  /* border: #ffba01  !important; */
  border-radius: 5px;
  font-size: 1em;
}
