<form [formGroup]="form" novalidate>
  <div class="ui-g">
    <div class="ui-g-12 ui-lg-12">
      <div style="text-align:center">
        <h1>จองคิวล้างรถ</h1>
      </div>
      <div class="container" style="width: 50%;">

        <p-card>
          <div class="ui-g-12">
            <div class="ui-g-3">วันที่จอง : </div>
            <p-calendar [showIcon]="true" class="ui-datepicker-today" [(ngModel)]="bookingDate" showButtonBar="true"
              formControlName="reserv_date" appendTo="body" dateFormat="dd-mm-yy">
            </p-calendar>
            <!-- <input type="date" formControlName="reserv_date" class="form-control" /> -->
            <div
              *ngIf="form.controls['reserv_date'].invalid && (form.controls['reserv_date'].dirty || form.controls['reserv_date'].touched)"
              class="alert alert-danger">
              <div class="text-danger text-invalid" *ngIf="form.controls['reserv_date'].errors.required">
                กรุณาระบุวันที่จอง</div>
            </div>
            <div class="line"></div>
          </div>
          <div class="ui-g-12">
            <div class="ui-g-3">เวลาที่จอง : </div>
            <p-calendar [timeOnly]="true" formControlName="reserv_time" [(ngModel)]="bookingTime" showSeconds="true">
            </p-calendar>
            <div
              *ngIf="form.controls['reserv_time'].invalid && (form.controls['reserv_time'].dirty || form.controls['reserv_time'].touched)"
              class="alert alert-danger">
              <div class="text-danger text-invalid" *ngIf="form.controls['reserv_time'].errors.required">
                กรุณาระบุเวลาที่จอง</div>
            </div>
          </div>
          <div class="ui-g-12">
            <div class="ui-g-3">ชื่อ-นามสกุล : </div>
            <span class="ui-float-label">
              <input id="float-input" type="text" size="30" pInputText placeholder="ชื่อ-นามสกุล"
                formControlName="name">
              <div
                *ngIf="form.controls['name'].invalid && (form.controls['name'].dirty || form.controls['name'].touched)"
                class="alert alert-danger">
                <div class="text-danger text-invalid" *ngIf="form.controls['name'].errors.required">
                  กรุณากรอกชื่อ-นามสกุล</div>
              </div>
            </span>
          </div>
          <div class="ui-g-12">
            <div class="ui-g-3">ป้ายทะเบียนรถ : </div>
            <span class="ui-float-label">
              <input id="float-input" type="text" size="30" pInputText placeholder="ป้ายทะเบียนรถ"
                formControlName="license">
              <div
                *ngIf="form.controls['license'].invalid && (form.controls['license'].dirty || form.controls['license'].touched)"
                class="alert alert-danger">
                <div class="text-danger text-invalid" *ngIf="form.controls['license'].errors.required">
                  กรุณากรอกป้ายทะเบียนรถ</div>
              </div>
            </span>
          </div>
          <div class="ui-g-12">
            <div class="ui-g-3">ยี่ห้อ : </div>
            <p-dropdown [options]="car" optionLabel="brand" value="car_id" placeholder="เลือกยี่ห้อ"
              formControlName="brand" appendTo="body" (onChange)="getModelCar($event)"></p-dropdown>
            <div
              *ngIf="form.controls['brand'].invalid && (form.controls['brand'].dirty || form.controls['brand'].touched)"
              class="alert alert-danger">
              <div class="text-danger text-invalid" *ngIf="form.controls['brand'].errors.required">
                กรุณาระบุยี่ห้อ</div>
            </div>
          </div>
          <div class="ui-g-12">
            <div class="ui-g-3">รุ่นรถ : </div>
            <p-dropdown [options]="model" optionLabel="model" value="car_detail_id" placeholder="เลือกรุ่นรถ"
              formControlName="model" appendTo="body" (onChange)="getModelById($event)"></p-dropdown>
            <div
              *ngIf="form.controls['model'].invalid && (form.controls['model'].dirty || form.controls['model'].touched)"
              class="alert alert-danger">
              <div class="text-danger text-invalid" *ngIf="form.controls['model'].errors.required">
                กรุณาระบุรุ่นรถ</div>
            </div>
          </div>
          <div class="ui-g-12">
            <div class="ui-g-3">ขนาดรถ : </div>
            <p-dropdown [options]="type" optionLabel="size" value="type_car_id" autoDisplayFirst="true"
              formControlName="size" appendTo="body" dropdownIcon="null"></p-dropdown>
            <!-- <input type="text" size="30" pInputText placeholder="ขนาดรถ" formControlName="size" readonly> -->
          </div>
          <div class="ui-g-12">
            <p-listbox id="listbox" [options]="clean" [(ngModel)]="selectCar" (click)="showCar($event)"
              formControlName="service" multiple="multiple" checkbox="checkbox" filter="filter" optionLabel="data"
              [style]="{'width':'100%','max-height':'auto'}">
              <p-header>
                ประเภทบริการ
              </p-header>

            </p-listbox>
            <div
              *ngIf="form.controls['service'].invalid && (form.controls['service'].dirty || form.controls['service'].touched)"
              class="alert alert-danger">
              <div class="text-danger text-invalid" *ngIf="form.controls['service'].errors.required">
                กรุณาเลือกประเภทบริการ</div>
            </div>
          </div>

          <div class="ui-g-12">
            <div class="ui-g-3">ราคารวม : </div>
            <span class="ui-float-label">
              <input id="float-input" type="text" [(ngModel)]="sum_price" size="30" pInputText readonly
                formControlName="total_price"> บาท
            </span>
          </div>
          <div class="ui-g-12">
            <div class="ui-g-3">ระยะเวลาทั้งหมด : </div>
            <span class="ui-float-label">
              <input id="float-input" type="text" size="30" [(ngModel)]="sum_time" pInputText readonly
                formControlName="duration">
            </span>
          </div>
          <div style="text-align: center;">
            <button pButton type="submit" label="ยืนยัน" (click)="save()"
              class="ui-button-raised ui-button-success"></button>
            <button pButton type="button" label="ยกเลิก" (click)="cancel()"
              class="ui-button-raised ui-button-danger"></button>
          </div>
        </p-card>
      </div>
    </div>
  </div>
</form>
<p-toast [style]="{marginTop: '80px'}" position="top-center"></p-toast>
