<div class="ui-g">
  <div class="ui-g-12 ui-lg-12">
    <div style="text-align:center">
      <h1>จัดการพนักงาน</h1>
    </div>
    <div class="container" style="width: 80%;">
      <div class="line"></div>
      <br>
      <div class="row">
        <div class="ui-g">
          <div class="ui-g-12 ui-lg-12">
            <p-table [paginator]="true" [value]='personal' [rows]="5" [responsive]="true" selectionMode="single">
              <ng-template pTemplate="caption">
                <div style="text-align:left">
                  <button pButton type="button" label="เพิ่ม" (click)="addEmployee()"
                    class="ui-button-rounded ui-button-success" style="font-size: 15px; width: 10%;"></button>
                </div>

              </ng-template>
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th pSortableColumn="name">
                    ชื่อ-นามสุกล
                    <p-sortIcon field="name" ariaLabel="Activate to sort"
                      ariaLabelDesc="Activate to sort in descending order"
                      ariaLabelAsc="Activate to sort in ascending order">
                    </p-sortIcon>
                  </th>
                  <th pSortableColumn="tel">
                    เบอร์โทร
                    <p-sortIcon field="tel" ariaLabel="Activate to sort"
                      ariaLabelDesc="Activate to sort in descending order"
                      ariaLabelAsc="Activate to sort in ascending order">
                    </p-sortIcon>
                  </th>
                  <th pSortableColumn="role">
                    ตำแหน่ง
                    <p-sortIcon field="role" ariaLabel="Activate to sort"
                      ariaLabelDesc="Activate to sort in descending order"
                      ariaLabelAsc="Activate to sort in ascending order">
                    </p-sortIcon>
                  </th>
                  <th pSortableColumn="work">
                    การทำงาน
                    <p-sortIcon field="work" ariaLabel="Activate to sort"
                      ariaLabelDesc="Activate to sort in descending order"
                      ariaLabelAsc="Activate to sort in ascending order">
                    </p-sortIcon>
                  </th>
                  <th pSortableColumn="date">
                    วันที่สร้าง
                    <p-sortIcon field="date" ariaLabel="Activate to sort"
                      ariaLabelDesc="Activate to sort in descending order"
                      ariaLabelAsc="Activate to sort in ascending order">
                    </p-sortIcon>
                  </th>
                  <th>

                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData">
                  <td [pSelectableRow]="rowData">
                    {{rowData.employee_fname}} {{rowData.employee_lname}}
                  </td>
                  <td [pSelectableRow]="rowData" style="text-align: center">
                    {{rowData.employee_tel}}
                  </td>
                  <td [pSelectableRow]="rowData" style="text-align: center">
                    {{rowData.position_id}}
                  </td>
                  <td [pSelectableRow]="rowData" style="text-align: center">
                    -
                  </td>
                  <td [pSelectableRow]="rowData" style="text-align: center">
                    {{rowData.create_datetime | date:'dd/MM/yyyy'}}
                  </td>
                  <td *ngFor="let col of columns;">
                    <div *ngIf="rowData[col.field] != rowData['status']">
                      <span class="ui-column-title">{{col.header}}</span>
                      <div *ngIf="rowData[col.field] == rowData['employee_fname'] && col.field == 'employee_fname'">
                        {{rowData.employee_fname}} +' '+ {{rowData.employee_lname}}
                      </div>
                      <div *ngIf="rowData[col.field] == rowData['employee_tel']">
                        {{rowData.employee_tel}}
                      </div>
                      <div *ngIf="rowData[col.field] == rowData['position_id'] ">
                        {{rowData.position_id}}
                      </div>
                      <div *ngIf="rowData[col.field] == rowData['position_work']">
                        -
                      </div>
                      <div *ngIf="rowData[col.field] == rowData['create_datetime']">
                        {{rowData.create_datetime | date:'yyyy/MM/dd h:mm:ss'}}
                      </div>
                    </div>
                  </td>
                  <td>
                    <div style="text-align:center">
                      <button pButton type="button" label="แก้ไข" class="ui-button-warning"
                        style="width: 40%;"></button>
                      <button pButton type="button" label="ลบ" class="ui-button-danger"
                        style="width: 40%;margin-left: 5mm"></button>
                    </div>

                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<form [formGroup]="form" novalidate>

</form>
