<div class="ui-g">
  <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">
    <div style="text-align:center">
      <h1>จัดการพนักงาน</h1>
    </div>
    <p-table >
      <ng-template pTemplate="header">
          <tr>
              <th>ชื่อ</th>
              <th>เบอร์โทร</th>
              <th>ตำแหน่ง</th>
              <th>วันที่สร้าง</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-car>
          <tr>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
          </tr>
      </ng-template>
  </p-table>
  </div>
</div>
